<% include ../partials/header%>

<div class = "container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" style="width:900px; margin-top:10px;" src = "<%= campground.image %>">
                <div class="row">
                    <div class="col-md">
                        <figcaption class"figure-caption"><h4><a href="#"><%= campground.name %></a></h4></figcaption>
                    </div>
                    <div class="col-md">
                        <figcaption class"figure-caption" style="text-align:right;"><h4>$9.00/night</h4></figcaption>
                    </div>
                </div>
                <p><%= campground.description %></p>
                <p><em>Submitted By <%= campground.author.username %></em></p>
                <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                    <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form style="display: inline;" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                <% } %>
            </figure>
            <div style="text-align:right;">
                    <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
            </div>
            <hr>
            <% campground.comments.forEach(function(comment){ %>
                <div>
                    <div class="row">
                        <div class="col-md"><strong><%= comment.author.username %></strong></div>
                        <div class="col-md" style="text-align:right;">10 days ago</div>
                    </div>
                        <p><%= comment.text %></p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <a class="btn btn-warning" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
                            <form style="display: inline;" action="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        <% } %>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<% include ../partials/footer %>